@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
 body{
    background-color: rgb(137, 205, 165);
    border-radius: 30px;
    box-shadow:rgb(137, 205, 165);
    margin:auto;
}
a.externo::after{
    content:*\00A0\1F310*;
}

header {
    font-family:'Bebas Neue',sans-serif;
    color: white;
    background-image:linear-gradient(to bottom, #59ba7a, #1a5a37); 
    box-shadow: 2px 3px 3px #1a5a37;
    padding: 20px;
    margin:auto;
}
main{

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 0px;
    box-shadow: 2px 2px 2px rgb(104, 156, 126);
    width: 1000px;
    padding: 10px;
    margin: auto;
}
article{
   b{
    color:rgb(26, 90, 55);
   }
    a{
        color:rgb(26, 90, 55);
        text-decoration: none;
    }
}
h1#principal {
font-family: 'Bebas Neue', sans-serif;
color: white;
text-align: center;
}
p#principal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

}
p {
    font-family: Arial, Helvetica, sans-serif
    margin: 15px 0px 15px 0px;
    text-align:justify;
}
nav{
    a{
        font-family: 32px, Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 20px;
        width: 50px;
        color: white;
    }
    
}
h1{
    color:rgb(26, 90, 55);
    font-family:'android', sans-serif;
    text-align: center;
    
}
h2{
    font-family:'android', sans-serif;
    color:rgb(26, 90, 55);
    background-image: linear-gradient(to right, rgb(142, 207, 168),rgb(229, 236, 232), rgb(255, 255, 255));
}
iframe{
 background-color:rgb(26, 90, 55);
 text-align:center;
}
aside{
    h3{ 
        font-family: 8px, Arial, Helvetica, sans-serif;
        padding: 8px;
        color: white;
        background-color: rgb(47, 168, 102);
    }
    background-color:rgb(197, 235, 214);
    padding: 10px;
}
footer{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgb(29, 88, 56);
    padding: 5px;
    color: white;
   a{
    text-decoration: none;
    color: white;
   }
}